header
{
    background-color: antiquewhite;
}

body{
    background-color: darkgray;
}

ul
{
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    white-space: pre-line;
    float: inline-end;
    list-style-type: none;
    align-items: flex-start;
}

.Titre{
    font-weight: bold;
}

p{
    bottom: 0%;
    top: 0%;
}

.styled:hover {
    cursor: pointer;
}

.styled:active {
    
}