header
{
    background-color: antiquewhite;
}

body{
    background-color: darkgray;
}
h1
{
    text-align: center;
}
ul
{
    display: flex;
    justify-content: space-around;
    white-space: pre-line;
    list-style-type: none;
    flex-wrap: wrap;
}

.Titre{
    font-weight: bold;
}

p{
    bottom: 0%;
    top: 0%;
}

.styled:hover {
    cursor: pointer;
}


.titre{
    background-color: tan;
    width: 170px;
    height: 300px;
}

.menu{
    background-color: brown;
    width: 200px;
    height: 20px;
}

/*Formulaire.html */
#Formulaire_Connexion_U{
    position: fixed;
    top: 300;
    left:400;
    width: 20%;
    border: 2px solid black;
    background-color: gray;
}
#Formulaire_Connexion_U p{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#Formulaire_Connexion_A{
    background-color:gray;
    position: fixed;
    padding-bottom: 30px;
    top: 300;
    left: 800;
    width: 20%;
    border: 2px solid black;
}
#Formulaire_Connexion_A p{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}
