header
{
    background-color: antiquewhite;
}

body{
    background-color: darkgray;
}

ul
{
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    white-space: pre-wrap;
    float: inline-end;

}

h1{
    font-size: 250%;
}


h2{
    font-size: 100%;
}

p{
    font-size: 75%;
}